// Custom.scss
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";
// 2. Include any default variable overrides here
// 3. Include remainder of required Bootstrap stylesheets
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
// 4. Include any optional Bootstrap components as you like
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
//Font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');
//Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
//Custom css
$font-stack: Roboto,
sans-serif;
$font-stack2: Lato,
sans-serif;
body {
    font: 100% $font-stack;
}

h1,
h2,
h3,
h4,
h5 {
    font: 100% $font-stack2;
}

.navbar-collapse {
    flex-grow: 0!important;
}

.nav-link {
    display: block;
    border-radius: 5px;
}

.active {
    background: $primary;
    color: white!important;
}

.carousel-item {
    height: 32rem;
    background-position: center;
    background-size: cover;
}

.carousel-caption {
    display: inline-block;
    background-color: rgba($color: white, $alpha: 0.5);
    color: black;
    h2 {
        font-weight: bold;
        font-size: calc(1em + 1.2vw);
    }
    p {
        font-size: calc(1em + 0.8vw);
    }
    small {
        font-size: calc(1em + 0.5vw);
        color: white;
        font-weight: bold;
    }
}

.whatsapp-button {
    display: inline-block;
    background-color: $green;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

@include media-breakpoint-down(md) {}